body{
    background-image: url("https://t4.ftcdn.net/jpg/04/20/86/73/360_F_420867335_srDH3p52ShctnCgpD6XPbdYUR1T0TB9B.jpg");
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    height:100vh;
    margin:0;
    justify-content: center;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

h1,h2,p{
    text-align: center;
}

button{
 display:block;
 margin:auto auto;
 width: 150px; 
 height:30px;
 font-family: Georgia, 'Times New Roman', Times, serif;
 font-weight: bold;
 border-radius: 2px;
}

#start{
    background-color: greenyellow;
}

#new{
    background-color: rosybrown;
}

h1{
    color:rgb(87, 6, 6);
}